<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="icon" href="{% static '/img/favicon.ico' %}" type="image/x-icon">
    <title>Add a new Task</title>
</head>
<body>
    {% if messages %}
    <ul class="alert alert-primary" role='alert'>    
        {% for message in messages %}    
            <li>{{ message }}</li>    
        {% endfor %}
    </ul>
    {% endif %}
    <div class='form-group'>
        <form action='create_task' method='POST'>
            {%csrf_token%}
            <h2>Add new Task</h2>
            <p>Task Name:</p>
            <input name="name" type="text">
            <p>Description:</p>
            <p>(Optional)</p>
            <input name="description" type="text">
            <p>Time started:</p>
            <input name="timein" type="time">
            <p>Time ended:</p>
            <input name="timeout" type="time">
            <button name="add" type="submit">Submit</button> |
            <button><a href="logout">Logout</a></button> |
            <button><a href='/jobs'>Dashboard</a></button>
        </form>
    </div>
</body>
</html>