<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    {% if messages %}
        <ul class="alert alert-primary" role='alert'>  
            {% for message in messages %}    
                <li>{{ message }}</li>    
            {% endfor %}
        </ul>
    {% endif %}
    <div class=edit>
        <form action="/jobs/{{this_task.id}}/updateTask" method="POST">
            {%csrf_token%}
            <h2>Edit Task</h2>
        <p>Name: </p>
        <input value='{{ this_task.name }}' name='name' type='text'>
        <p>Description: </p>
        <input value='{{this_task.description}}' name='description' type='text'>
        <p>Time started:</p>
        <input value='{{ this_task.timein }}' name="timein" type="time">
        <p>Time ended:</p>
        <input value='{{ this_task.timeout }}' name="timeout" type="time">
        <br>
        <button name='submit' type='submit'>Update</button>
    </div>
    <button><a href='/jobs'>Cancel</a></button>
    <button><a href="/logout">Logout</a></button>
    </form>
    </div>
</body>
</html>